.quiz-bg-container {
  margin-top: 150px;
}
.question-form-container {
  width: 550px;
  height: 300px;
}
.question {
  background-color: white;
  border-radius: 5px;
  width: 600px;
  box-shadow: 0 0.5px 0.5px;
  margin: 10px;
}
.question-heading {
  font-size: 25px;
}
.question-options {
  font-size: 20px;
}

