.quiz-bg-container {
  height: 100vh;
  padding: 40px;
}
.question-form-container {
  width: 500px;
}
.question {
  background-color: white;
  border-radius: 5px;
  width: 600px;
  box-shadow: 0 0.5px 0.5px;
  margin: 10px;
}
.question-heading {
  font-size: 25px;
}
.question-options {
  font-size: 20px;
}

.form-btns {
  /* background-color: transparent; */
  border: none;
  outline: none;
  padding: 10px 20px;
}
