.sidebar-container {
  width: 15%;
  height: 100vh;
  background-color: rgb(15, 23, 42);
}
.sidebar-nav-container {
  border: none;
}

.sidebar-names {
  font-size: 150%;
  margin: 5px;
  width: 90%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.sidebar-profile-icon {
  width: 120px;
  height: 120px;
  border-radius: 60px;
  margin-left: 20px;
}
.side-bar-profile-details {
  color: rgb(148, 163, 184);
  font-size: 100%;
  margin-left: 10px;
}
.sidebar-heading {
  margin-top: 10px;
  text-align: center;
  font-size: 250%;
  color: rgb(148, 163, 184);
  margin-left: 27%;
  margin-bottom: 10%;
}

.active {
  color: rgb(139, 92, 246) !important;
  background-color: rgba(124, 58, 237, 0.16) !important;
  border: none !important;
  margin-left: 8%;
}

a {
  color: rgb(148, 163, 184) !important;
  margin-left: 8%;
}
.container-fluid {
  margin: 0px;
}

.sidebar-icon {
  margin-bottom: 10%;
  margin-right: 10%;
}
.side-bar-bottom-container {
  margin-bottom: 25px;
  width: 100%;
}
@media (max-width: 949px) {
  .side-bar-profile-details {
    color: rgb(148, 163, 184);
    font-size: 50%;
    margin-left: 10px;
  }
}

@media screen and (max-width: 768px) {
  .sidebar-container {
    width: 100%;
    height: 100vh;
    padding: 20px;
  }

  .sidebar-heading {
    font-size: 150%;
    margin-right: 0;
    margin-bottom: 20px;
  }
  .side-bar-profile-details {
    color: rgb(148, 163, 184);
    font-size: 60%;
    margin-left: 10px;
  }

  .sidebar-names {
    font-size: 100%;
    width: 100%;
    margin-bottom: 10px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .sidebar-icon {
    margin-right: 5px;
  }
}
